{% extends 'base.html.twig' %}

{% block title %}
    auteur-
{% endblock %}

{% block main %}
    <div id="bloc_auteur">
        <div id="Photo_auteur">
            <img src="http://localhost/chefDeProjet/projet3ecrivain/public/images/portrait.png" alt="portrait de l'auteur" >
        </div>
        <aside>
            <h2>Mini Biographie </h2>
            <p lang="zxx">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque. Sed pharetra dapibus augue id 
            condimentum. Donec ullamcorper molestie neque sit amet eleifend. 
            Morbi nibh tortor, hendrerit eu urna ut, laoreet cursus elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque. Sed pharetra dapibus augue id 
            condimentum.</p>
            <p lang="zxx"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque. Sed pharetra dapibus augue id 
            condimentum. Donec ullamcorper molestie neque sit amet eleifend. 
            Morbi nibh tortor, hendrerit eu urna ut, laoreet cursus elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque</p>
        </aside>
    </div>

    <section>
        <aside>
        <h2>Publications</h2>
            <p lang="zxx">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt</li><br />
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt</li><br />
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt</li><br />
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt</li><br />
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt</li><br />
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt</li><br />
                </ul> 
            </p>
        </aside>

        <aside>
        <h2>Filmographie</h2>
            <p lang="zxx">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt</li><br />
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt</li><br />
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt</li><br />
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt</li><br />
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt</li><br />
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt</li><br />
                </ul> 
             </p>
        </aside>
    </section>

{% endblock %}