{% extends 'base.html.twig' %}
{% block title %}
    chapitres-
 {% endblock %}

 {% block main %}

            <div class="line"></div>

            <div id="conteneur_chapitres">
                <div id="menu_left">
                    <nav>
                        <h2>Tous les Chapitres</h2>
                        <ul>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                            <li><a href="chapitre.php" >Chapitre x: Titre X</a></li>
                        </ul>
                    </nav>

                    <div class="line"></div>

                    <div id="commentaires_recents" lang="zxx">
                        <h2>Commentaires récents</h2>
                        <ul>
                            <li>lorem ipsum momemtum da mora estacomo nation</li>
                            <br />
                            <li>lorem ipsum momemtum da mora estacomo nation</li>
                            <br />
                            <li>lorem ipsum momemtum da mora estacomo nation</li>
                            <br />
                            <li>lorem ipsum momemtum da mora estacomo nation</li>
                            <br />
                            <li>lorem ipsum momemtum da mora estacomo nation</li>
                            <br />
                            <li>lorem ipsum momemtum da mora estacomo nation</li>
                            <br />
                        </ul>
                    </div>
                    
                </div>
                <div class="verticale"></div>
                <div id="chapitres_recents">
                    <h2>Chapitres récemment publiés</h2>
                    <article>
                        <h2>Chapitre x: Titre x</h2>
                        <img src="images/photo-1.jpg" alt="image a la une">
                        <p lang="zxx">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Donec id tincidunt risus, et lacinia lorem.Vestibulum sollicitudin 
                        varius urna condimentum scelerisque.<br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Donec id tincidunt risus, et lacinia lorem.Vestibulum sollicitudin 
                        varius urna condimentum scelerisque.<br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Donec id tincidunt risus, et lacinia lorem.Vestibulum sollicitudin 
                        varius urna condimentum scelerisque</p>
                        <div class="bouton">
                            <a href="chapitre.html" target="_blank">Lire la suite</a>
                        </div>
                    </article>

                    <div class="line"></div>

                    <article>
                        <h2>Chapitre x: Titre x</h2>
                        <img src="images/photo-1.jpg" alt="image a la une">
                        <p lang="zxx">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Donec id tincidunt risus, et lacinia lorem.Vestibulum sollicitudin 
                        varius urna condimentum scelerisque.<br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Donec id tincidunt risus, et lacinia lorem.Vestibulum sollicitudin 
                        varius urna condimentum scelerisque.<br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Donec id tincidunt risus, et lacinia lorem.Vestibulum sollicitudin 
                        varius urna condimentum scelerisque</p>
                        <div class="bouton">
                            <a href="chapitre.html" target="_blank">Lire la suite</a>
                        </div>
                    </article>

                    <div class="line"></div>

                    <article>
                        <h2>Chapitre x: Titre x</h2>
                        <img src="images/photo-1.jpg" alt="image a la une">
                        <p lang="zxx">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Donec id tincidunt risus, et lacinia lorem.Vestibulum sollicitudin 
                        varius urna condimentum scelerisque.<br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Donec id tincidunt risus, et lacinia lorem.Vestibulum sollicitudin 
                        varius urna condimentum scelerisque.<br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Donec id tincidunt risus, et lacinia lorem.Vestibulum sollicitudin 
                        varius urna condimentum scelerisque</p>
                        <div class="bouton">
                            <a href="chapitre.html" target="_blank">Lire la suite</a>
                        </div>
                    </article>
                    
                    
                </div>

            </div>

            <div class="line"></div>
{% endblock %}