{% extends 'base.html.twig' %}
{% block title %}
    chapitre-
 {% endblock %}

 {% block main %}
    <div id="conteneur_page_chapitre">
        <img src="images/bg.jpg" alt="">
        <h2>Chapitre x: Titre du chapitre x</h2>
        <article>
            <p lang="zxx">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque. Sed pharetra dapibus augue id 
            condimentum. Donec ullamcorper molestie neque sit amet eleifend. 
            Morbi nibh tortor, hendrerit eu urna ut, laoreet cursus elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque. Sed pharetra dapibus augue id 
            condimentum. Donec ullamcorper molestie neque sit amet eleifend. 
            Morbi nibh tortor, hendrerit eu urna ut, laoreet cursus elit.</p>
            <p lang="zxx">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque. Sed pharetra dapibus augue id 
            condimentum. Donec ullamcorper molestie neque sit amet eleifend. 
            Morbi nibh tortor, hendrerit eu urna ut, laoreet cursus elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque. Sed pharetra dapibus augue id 
            condimentum. Donec ullamcorper molestie neque sit amet eleifend. 
            Morbi nibh tortor, hendrerit eu urna ut, laoreet cursus elit.</p>
            <p lang="zxx">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque. Sed pharetra dapibus augue id 
            condimentum. Donec ullamcorper molestie neque sit amet eleifend. 
            Morbi nibh tortor, hendrerit eu urna ut, laoreet cursus elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque. Sed pharetra dapibus augue id 
            condimentum. Donec ullamcorper molestie neque sit amet eleifend. 
            Morbi nibh tortor, hendrerit eu urna ut, laoreet cursus elit.</p>
            <p lang="zxx">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque. Sed pharetra dapibus augue id 
            condimentum. Donec ullamcorper molestie neque sit amet eleifend. 
            Morbi nibh tortor, hendrerit eu urna ut, laoreet cursus elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque. Sed pharetra dapibus augue id 
            condimentum. Donec ullamcorper molestie neque sit amet eleifend. 
            Morbi nibh tortor, hendrerit eu urna ut, laoreet cursus elit.</p>

        </article>

        <div class="line"></div>

        <div id="Commentaires_chapitre">
            <h2>Commentaires</h2>
            <h5>John Doa - DD/MM/AAAA </h5>
            <p lang="zxx">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque.Vestibulum sollicitudin 
            varius urna condimentum scelerisque.</p>
            <p><a href="#">Répondre</a> | <a href="#">Signaler</a></p>
            <br />
            <h5>John Doa - DD/MM/AAAA </h5>
            <p lang="zxx">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque.Vestibulum sollicitudin 
            varius urna condimentum scelerisque.</p>
            <p><a href="#">Répondre</a> | <a href="#">Signaler</a></p>
            <br />
            <h5>John Doa - DD/MM/AAAA </h5>
            <img src="images/signaler.png" alt=""><p lang="zxx">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
            varius urna condimentum scelerisque.Vestibulum sollicitudin 
            varius urna condimentum scelerisque.</p>
            <p><a href="#">Répondre</a> | <a href="#">Signaler</a></p>
        </div>

        <div class="line"></div>

        <div id="poster_commentaire">
            <form method="post" action="commentairebd.php">
                <p>
                <label for="nom">Nom :</label>
                <input type="text" name="nom" id="nom" />               
                <br /><br />
                <label for="messagecomm">Message:</label>
                <br />
                <textarea name="messagecomm" id="message" rows="10" cols="150" 
                placeholder="Ecrire votre commentaire ici">
                </textarea>                            
                </p>
                <input type="submit" value="Envoyer" />
            </form>
        </div>
    </div>
{% endblock %}