{% extends 'base.html.twig' %}
{% block title %}
    home-
 {% endblock %}
{% block main %}
<div id="bloc_auteur">
                <div id="Photo_livre">
                    <img src="images/livre.png" alt="Photo de l'auteur" >
                </div>

                <div class="verticale"></div>

                <aside>
                    <h2>Synopsis du Livre</h2>
                    <p lang="zxx">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
                    varius urna condimentum scelerisque. Sed pharetra dapibus augue id 
                    condimentum. Donec ullamcorper molestie neque sit amet eleifend. 
                    Morbi nibh tortor, hendrerit eu urna ut, laoreet cursus elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
                    varius urna condimentum scelerisque. Sed pharetra dapibus augue id 
                    condimentum. Donec ullamcorper molestie neque sit amet eleifend. 
                    Morbi nibh tortor, hendrerit eu urna ut, laoreet cursus elit.</p>

                    <p lang="zxx">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
                    varius urna condimentum scelerisque. Sed pharetra dapibus augue id 
                    condimentum. Donec ullamcorper molestie neque sit amet eleifend. 
                    Morbi nibh tortor, hendrerit eu urna ut, laoreet cursus elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec id tincidunt risus, et lacinia lorem. Vestibulum sollicitudin 
                    varius urna condimentum scelerisque.</p>
                    <h4>Jean Forteroche</h4>
                    <h6>Acteur et Ecrivain</h6>
                </aside>
            </div>

            <div class="line"></div>
            
            <h2> Chapitres récemment publiés</h2>
            <section>
                
                   {% for chapitre in chapitres %}
                    <article>
                        <h2>{{ chapitre.titrechapitre }}</h2>
                        {{chapitre.imageChapitre }}
                        <p>{{ chapitre.textechapitre }}</p>
                        {% block bouton %}
                            <div class="bouton">
                                <a href="../src/Controller/chapitre.php" target="_blank">Lire la suite</a>
                            </div>
                        {% endblock %}
                    </article>
                        {% block line %}
                        <div class="line"></div>
                        {% endblock %}
                       
                    {% endfor %}
            </section>

            <div class="line"></div>
{% endblock %}
